* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #11121A;
}

/* Header */
header {
    background-color: #1C1C24;
    height: 70px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.header-container {
    width: 1300px;
}

#logo {
    color: #fff;
    text-decoration: none;
    outline: none;
}

/* Search Section */
.search {
    max-width: 1200px;
    margin: 0 auto;
}

.search-container {
    height: 60px;
    background-color: #1C1C24;
    border: 2px solid #222328;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.input-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.input-container i {
    font-size: 20px;
    margin-left: 20px;
}

.input-container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
}

.btn-container {
    background-color: hsl(226, 100%, 59%);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-container:hover {
    background-color: hsl(226, 100%, 62%);
}

/* Main - Jobs List */
.jobs-list {
    background-color: #11121A;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}

.jobs-list p {
    font-size: 18px;
    font-weight: 700;
    margin: 18px 0 24px;
}

.jobs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    background-color: #11121a;
}

.job-title {
    width: 355px;
    height: 390px;
    background-color: hsl(240, 13%, 13%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    padding: 30px;
    line-height: 1.2;
    cursor: pointer;
    transition: all 0.2s ease;
}

.job-title:nth-last-child(-n+3) {
    margin-bottom: 40px;
}

.job-title:hover {
    transform: scale(1.03);
    background-color: hsl(240, 13%, 17%);
}

.top {
    display: flex;
    justify-content: space-between;
}

.top img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.top i {
    cursor: pointer;
}

.top i:hover {
    color: rgb(192, 192, 192);
}

.job-role {
    margin: 20px 10px 10px 0;
    font-size: 20px;
    font-weight: 700;
}

.job-description {
    flex-grow: 1;
    margin: 10px 0 5px 0;
    overflow: hidden;
    color: hsl(276, 2%, 80%);
}

.job-btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    height: 45px;
}

.job-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #969398;
    background-color: hsl(240, 11%, 20%);
    font-size: 14px;
    cursor: pointer;
}

.job-btn:hover {
    background-color: hsl(240, 11%, 30%);
}

.apply-now {
    color: #ffffff;
    background-color: #3060ff;
    margin-right: 15px;
}

.apply-now:hover {
    background-color: hsl(226, 100%, 62%);
}

@media screen and (max-width: 930px) {
    .jobs-list {
        width: 100vw;
    }
    .jobs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .jobs-list {
        width: 100vw;
    }
    .jobs-container {
        grid-template-columns: 1fr;
    }
}